/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');*/
/* ==========================================================================
  Custom Properties
========================================================================== */


  /*knop om een break te kunnen toevoegen*/
  button,
  input[type="submit"],
  input[type="reset"] {
    
    margin-top: 1em; 
    border: 0;
    background-color: var(--primary-color);
  }
  
 
  

  
 

 
  

 

  
    

  

 
 
  

 
  
  
  
  
 
  
  
  